.chatarea-wrapper {
    width: 100%;
    grid-area: content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatarea-container{
    
    min-width: 730px ;
    width: 80%;
    min-height: 80vh;
    background: white;
    display: grid;
    grid-template-columns: 230px auto 214px;
    grid-template-rows: 46px auto 8%;
    grid-template-areas:
    "sidebar header userlist" 
    "sidebar messages userlist"
    "sidebar send userlist";
    max-height: 80vh;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}

.chatarea-header-container {
    grid-area: header;
    height: 100%;
    font-size: 25px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(24, 24, 24, 0.1);
}

.send-container{
    height: 50px;
    width: 98%;
    display: flex;
    grid-area: send;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

.send-container .text-box{
    width: 70%;
    flex-grow: 1;
    height: 100%;
}


.send-container .compose-input {
    flex: 1;
    border: none;
    font-size: 18px;
    height: 40px;
    width: 98%;
    color:#0096FF;
}


.send-container .text-box input:focus{
    outline: none;
}

  .compose-input::placeholder {
    opacity: 0.3;
  }

  .send-container .send{
      margin-left: 10px;
  }
  .send-container .send:hover{
    color: #0096FF;
  }

  .send-container .attach:hover{
        
        color:#0096FF;
    }

.message-container-unit{
    grid-area: messages;
    height:100%;
    max-height: 80vh;
    min-width: 300px;
    /*border: 3px solid  rgb(33, 33, 33);*/
    border-bottom: 1px solid rgba(24, 24, 24, 0.2);
    
    overflow: auto;
}

.current-userlist
{
    grid-area: userlist;
    min-width: 215px;
    border-left: 1px solid rgba(24, 24, 24, 0.2);
    overflow: auto;
    height:100%;
}
.active-user-list-header
{
    height: auto;
    display:grid;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(24, 24, 24, 0.2);
    height: 46px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.active-user-item
{
    height: 10px;
    background-color: red;
}

.active-user-list-header
{
    display:flex;
    gap: 10%;
    flex-direction: row;
    
}
#file-input
{
    position: absolute !important;
     height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
.personAddIcon:hover
{
    color:#0096FF;
}