.tile-container {
  width: auto;
  height: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding-left: 10px;
  user-select: none;
  align-items: center;
}

.current {
  background-color: rgb(172,172,172);
}

.tile-container .image {
  width: auto;
}
.tile-container .username {
  width: auto;
  font-size: 18px;
}

.tile-container .text-box {
  display:inline;
  height: auto;
}
.tile-container:hover {
  background: rgb(220, 220, 220);
  cursor: pointer;
}


.dot {
  height: 10px;
  width: 10px;
  background-color: rgb(15, 65, 158);
  border-radius: 50%;
  margin:0 3px 0 3px;
}

.notification-unread{
  display:inline-block;
}