.chats-tab-container {
    grid-area: selected;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.join-create-button {
    font-size: 18px;
    border: none;
    color: rgba(24, 24, 24, 0.6);
    background-color: white;
    height: 50px;
    display: grid;
    grid-template-columns: 27px auto;
    align-items: center;
    justify-content: center;
    transition: color 0.2s;
}

.join-create-button:hover{
    cursor: pointer;
    color: rgb(24, 24, 24);
}
